[submodule "tools"]
	path = tools
	url = git@github.com:ariksavage/devops-tools.git
[submodule "vagrant"]
	path = vagrant
	url = git@github.com:ariksavage/devops-vagrant-debian.git
[submodule "tests/nightmare"]
	path = tests/nightmare
	url = git@github.com:ariksavage/devops-test.git
[submodule "gulp"]
  path = gulp
  url = git@github.com:ariksavage/devops-gulp.git